{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Reiseleiter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}"/>    
    {% block child_css %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'base/base.js' %}"></script>
</head>
<body>
    <div class="headerBackground">
        <div class="headerContent">
            <div class="logo"><a href="{% url 'homepage' %}">Reiseleiter</a></div>
            <div class="rightHeader">
                {% if user.is_authenticated %}
                    <form action="/logout/" method="POST">
                        {% csrf_token %}
                        <a href="#">Sign Out</a> | 
                    </form>
                    <a href="{% url 'profile' user.id %}">Profile</a>
                {% else %}
                    <form action="/login/" method="GET">
                        {% csrf_token %}
                        <a href="{% url 'login' %}">Login</a> | 
                    </form>
                    <a href="#">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mainContents">
        <div class="content">
        {% block content %}

        {% endblock %}
        </div>
    </div>
</body>
</html>